.layouts-group-list {
  padding: 0.7rem 0;
  a.layouts-group-list-header, h3.layouts-group-list-header {
    transition: color 0.25s ease;
    color: var(--primary);
    margin-bottom: 0.25rem;
    padding: 0.5rem 1rem;
    display: block;
    font: {
      size: var(--font-up-1);
      weight: bold;
    }

    &:hover,
    &:focus {
      color: var(--primary-low-mid);
    }
  }

  &-items {
    list-style: none;
    margin: 0;

    .layouts-group-link {
      display: flex;
      align-items: center;
      padding: 0.5rem 1rem;
      color: var(--primary-medium);
      cursor: pointer;
      transition: background-color 0.25s ease;

      &:hover {
        background: var(--primary-low);
      }

      .group-owner-icon {
        margin-left: 5px;
        font-size: var(--font-down-3);
      }

      .group-icon {
        margin-right: 1rem;
        img,
        svg {
          height: 20px;
          width: 20px;
          min-width: 20px;
        }
      }
    }
  }

  .layouts-no-public-groups {
    color: var(--primary-low-mid);
  }
}

.layouts-sidebar-minimized .layouts-group-list {
  a.layouts-group-list-header,
  .group-title,
  .group-owner-icon {
    display: none;
  }

  .group-icon {
    margin-right: 0;
  }

  .layouts-group-link {
    justify-content: center;
  }
}
